.toplevel_page_square-woo-sync #wpbody-content {
  margin-top: 64px;
  height: 100%;
}
.toplevel_page_square-woo-sync {
  .notice,
  #screen-meta {
    @apply max-w-7xl mx-auto;
  }
}
#wpcontent {
  padding-left: 0 !important;
}

#square-woo-sync {
  @apply bg-gray-100 max-w-7xl mx-auto h-full min-h-screen;
  header {
    width: calc(100% - 160px);
    @apply z-50 left-0;
    margin-left: 160px;
  }
}

@media (max-width: 960px) {
  #square-woo-sync {
    header {
      width: calc(100% - 36px);
    }
  }
}

@media (max-width: 982px) {
  #square-woo-sync {
    header {
      width: 100%;
      top: 46px;
    }
  }
}

.toplevel_page_square-woo-sync {
  #wpbody-content {
    @apply bg-gray-100;
  }
  .notice,
  #screen-meta {
    margin-top: 14px !important;
  }

  #wpfooter {
    @apply hidden;
  }

  #wpbody-content {
    @apply pb-0;
  }
}

#adminmenu div.wp-menu-image {
  display: flex;
  justify-content: center;
  padding: 4px !important;
  padding-top: 0px !important;
}

.toast-position {
  top: 8rem !important;
}

@media (max-width: 1368px) {
  .toplevel_page_square-woo-sync #wpbody-content {
    @apply px-5;
  }
}
