/* Base styles for toplevel_page_square-woo-sync */
.toplevel_page_square-woo-sync {
  .notice,
  #screen-meta {
    @apply max-w-7xl mx-auto;
  }

  #wpbody-content {
    margin-top: 64px;
    height: 100%;
    @apply bg-gray-100;
  }

  #wpfooter {
    @apply hidden;
  }
}

/* Base styles for wpcontent */
#wpcontent {
  padding-left: 0 !important;
}

/* Styles for square-woo-sync */
#square-woo-sync {
  @apply bg-gray-100 max-w-7xl mx-auto h-full min-h-screen px-5;

  .plugin-nav {
    width: calc(100% - 160px);
    @apply z-50 left-0;
    margin-left: 160px;
  }
}

/* Adjustments for smaller screens */
@media (max-width: 960px) {
  #square-woo-sync .plugin-nav {
    width: calc(100% - 36px);
  }
}

@media (max-width: 982px) {
  #square-woo-sync .plugin-nav {
    width: 100%;
    top: 46px;
  }
}

@media (max-width: 1368px) {
  .toplevel_page_square-woo-sync #wpbody-content {
    @apply px-5;
  }
}

/* Additional styles */
#adminmenu div.wp-menu-image {
  display: flex;
  justify-content: center;
  padding: 4px !important;
  padding-top: 0px !important;
}

.toast-position {
  top: 8rem !important;
}

.toplevel_page_square-woo-sync .notice,
.toplevel_page_square-woo-sync #screen-meta {
  margin-top: 14px !important;
}

#wpbody-content {
  @apply pb-0;
}
